<header class="header">
    <div class="d-flex justify-content-center"> 
        <h1 class="text-info">Котикограм</h1>
                  </div>
    </header>
 <h3 class="d-flex justify-content-center text-warning">Поделись любимым котейкой!</h3>
  
    <div class="d-flex justify-content-center " >
<form class="d-flex flex-column align-items-center" action="/kotohran" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> <em>Ссылка на котика</em></label>
    <input name='adres' type="text" class="form-control" >
     </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Описание котика</label>
    <input name='opisanie' type="text" class="form-control" >
  </div>
  
  <button class="btn btn-large btn-primary" type="submit" > <i class="icon-heart">Запостить</i></button>
</form>
</div>
<hr />

<section class="d-flex flex-column align-items-center">
{{#each listOfKotiki}}

<div class="card, my=10" style="width: 18rem;">
  <img src="{{this.adres}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{this.opisanie}}!</p>
  </div>
</div>
{{/each}}

</section>

